/**
 * A more considered reset; more of a restart... 
 * As per: csswizardry.com/2011/10/reset-restarted
 */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,video{
  display:block;
}
strong,b,mark{
  font-weight:bold;
  font-style:inherit;
}
em,i,cite,q,address,dfn,var{
  font-style:italic;
  font-weight:inherit;
}
a,u,ins{
  text-decoration:none;
}
img{
  border:none;
  font-style:italic;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}
/**
 * Set the colour for highlighted text
 */
::selection {
  background-color: #56c2c5;
}
::moz-selection {
  background-color: #56c2c5;
}
/**
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=h3` to a `h3`; a double-stranded
 * heading hierarchy.
 */
h1,.h1,h2,.h2,h3,.h3,
h4,.h4,h5,.h5,h6,.h6 {
  text-rendering: optimizelegibility;
  font-weight:normal;
  margin-top: 0;
  margin-bottom: 36px;
}
h1,.h1{
  font-size: 78px;
  line-height: 76px;
  margin: 0 auto 68px;
}
h2,.h2{
  font-size: 36px;
  line-height: 34px;
}
h3,.h3{
  font-size: 26px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Amatic SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 4px;
}
h4,.h4{
  font-size: 20px;
  line-height: 18px;
}
p {
  margin-top: 0;
  margin-bottom: 36px;
}
a {
  color: #fff;
  /* transition all the things */
  -webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	display: inline-block;
	padding: 2px 6px;
}
  a:hover,
  a:active,
  a:focus{
    text-decoration:none;
    background-color: #f88684;
  }
  a:active,
  a:focus{
    outline:none;
  }
  /* Visually show the 'click' */
  a:active {
    position: relative;
    top: 1px;
  } 
ul, 
ol {
  margin-top: 0;
  margin-bottom: 36px;
  padding-left: 36px;
}
li{
  line-height:36px;
  > ul,
  > ol{
    margin-bottom:0;
  }
}
/*------------------------------------*\
    layout
\*------------------------------------*/
html {
  /* base font size = 16px with 18px line height */
  font: 1em/1.3em "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height:100%;
  color: #fff;
  -webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: #fff;
	background: #000;
	padding: 0;
}
/* mountain image on small screens */
@media (max-width: 660px) {
  html {
    background: #000 url(/background.png) no-repeat 100% 0 fixed;
    background-size: cover;
  }
}
/* extra padding on larger screens */
@media (min-width: 661px) {
  html {
    padding: 28px 28px 68px;
  }
}
body {
  margin: 0 auto;
  max-width: 640px;
  text-align: center;
}

video.background-video {
  position: fixed; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background: url(/background.png) no-repeat;
  background-size: cover;
}
@media (max-width: 660px) {
  video.background-video {
    display: none;
  }
}
/*------------------------------------*\
   logo
\*------------------------------------*/
header {
  margin-top: 46px;
  position: relative;
}
/* only have larger header text on larger screens */
@media (min-width: 481px) {
  header {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 36px;
  }
}
/* on really small screens set some padding */
@media (max-width: 660px) {
  header {
    padding: 0 16px;
    overflow: hidden;
  }
}
.logo {
  text-indent: -9999px;
  background: url(/logo.png) no-repeat scroll 0 0;
  background-size: 290px 36px;
  width: 290px;
  z-index: 1;
}
/* make the logo bigger on larger screens */
@media (min-width: 481px) {
  .logo{
    background-size: 450px 60px;
    width: 450px;
  }
}
.mountain {
  background: url(/mountain.png) no-repeat scroll 0 0;
  background-size: 690px 462px;
  position: absolute;
  top: 18px;
  left: 50%;
  width: 690px;
  margin-left: -368px;
  height: 462px;
  z-index: 2;
}
/*------------------------------------*\
   featured content
\*------------------------------------*/
.featured {
  margin: 0 auto 68px;
  z-index: 3;
  position: relative;
}
.featured--gig {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 46px;
}
  .featured--gig p {
    margin: 0;
  }
  .featured--gig span {
    color: #111;
    background-color: #56c2c5;
    display: inline-block;
    padding: 0px 6px;
  }
  .featured--gig .gig--date,
  .featured--gig .gig--venue {
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
    font-family: "Amatic SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .featured--gig .gig--venue {
    background-color: #f88684;
  }
  .featured--gig .gig--address,
  .featured--gig .gig--with {
    line-height: 28px;
  }
  .featured--gig a {
    color: #111;
    padding: 0;
  }
  
.featured--audio {
  opacity: 0.6;
  -webkit-transition:opacity .2s linear;
	-moz-transition:opacity .2s linear;
	transition:opacity .2s linear;
}
  .featured--audio:hover {
    opacity: 1;
  }
/*------------------------------------*\
   social media buttons
\*------------------------------------*/
.social-media {
  padding: 0;
  margin: 0 0 68px;
  list-style: none;
  z-index: 4;
  position: relative;
}
  .social-media li {
    display: inline-block;
  }
.btn {
  padding: 10px;
  text-transform: lowercase;
  display: inline-block;
  color:#fff;
  background: transparent;
  font-family: "Amatic SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: -8px;
  opacity: 0.8;
}
/* make btn text bigger on larger screens */
@media (min-width: 481px) {
  .btn {
    min-width: 100px;
    font-size: 26px; /* same as h3 */
    line-height: 24px;
  }
}
  .btn:hover,
  .btn:focus,
  .btn:active {
    background-color: #f88684;
    opacity: 1;
  }
  /* make sure the text and icon are on two lines */
  .btn i,
  .btn i,
  .btn i {
    display: block;
  }

/*------------------------------------*\
  main content
\*------------------------------------*/

@media (max-width: 660px) {
  .main-content {
    background: #000;
    background: rgba(0, 0, 0, 0.75);
    padding: 46px 16px;
  }
}
/*------------------------------------*\
   reviews
\*------------------------------------*/
.reviews {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}
/**
 * Big up @boblet: html5doctor.com/blockquote-q-cite
 */
q{ quotes:"“" "”" "“" "”"; font-style: normal; display: block; }
  q:before{ content:"“"; content:open-quote; }
  q:after{ content:"”"; content:close-quote; }
  q q:before{ content: "“"; content: open-quote; }
  q q:after{ content: "”"; content: close-quote; }

.source{
  display:inline-block;
  text-indent:0;
  font-size: 16px;
}
  .source:before{
    content:"—" " ";
  }
/*------------------------------------*\
   footer
\*------------------------------------*/
footer {
  margin: 0 auto;
  padding-top: 36px;
  font-family: "Amatic SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*------------------------------------*\
   helper
\*------------------------------------*/
/**
 * Hide content off-screen without resorting to `display:none;`
 */
.h {
  position: absolute;
  left: -99999px;
  top: -99999px;
}
[dir=rtl] .h {
  left: auto;
  right: -99999px;
  top: -99999px;
}
/**
 * Easy method for hiding or showing elements on small devices
 * .d = only on desktop
 * .m = only on small screens
 */
.d {
  position: absolute;
  left: -99999px;
  top: -99999px;
}
@media (min-width: 481px) {
  .m {
    position: absolute;
    left: -99999px;
    top: -99999px;
  }
  .d {
    position: static;
  }
}
/**
 * Easy method for hiding or showing elements on print screens
 * .p = only on print
 * .np = only on screen
 */
.p {
  position: absolute;
  left: -99999px;
  top: -99999px;
}
@media print {
  .np {
    position: absolute;
    left: -99999px;
    top: -99999px;
  }
  .p {
    position: static;
  }
}
/**
 * No margin.
 */
.nm {
  margin: 0;
}
/*------------------------------------*\
   print
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  @page  {
    margin: 0.5cm;
  }
  .logo {
    background: none;
    text-indent: 0;
  }
  h2,
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
}